/*
background-app: #1d3557
background-section-form: #457b9d
background-article: #2a9d8f

color-font-titulo: #a8dadc
color-font-label: #f1faee
color-font: #f1faee
color-font-info: #f0f3bd
color-font-subinfo: #f0f3bd

border-limit: #e63946
*/

* {
    padding    : 0px;
    margin     : 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    /*background-app*/
    background-color   : #1d3557;
    /*color-font*/
    color              : #f1faee;
    font-weight        : 300;
    font-size          : 12pt;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

form {
    width  : 250px;
    padding: 0px 20px 5px 20px;
    margin : 10px auto;
}

label,
input,
select {
    line-height: 30px;
    height     : 36px;
    outline    : none;
    font-size  : 12pt;
    width      : 95%;
    margin     : auto;
}

input {
    margin-bottom: 3px;
    padding-left : 5px;
}

label {
    font-weight: bold;
    /*color-font-label*/
    color      : #f1faee;
}

section {
    width           : 300px;
    margin          : 10px auto;
    /*background-section-form*/
    background-color: #457b9d;
}

article {
    /*background-article*/
    background-color: #2a9d8f;
    /*border*/
    border          : 2px solid #ffffff;
    padding         : 5px;
    margin          : 0px 0px 5px 0px;
}

article>header {
    /*color-font-subinfo*/
    color          : #f0f3bd;
    justify-content: space-between;
}

hr {
    margin: 5px;
}

.block-column {
    display       : flex;
    flex-direction: row;
}

.box {
    /*border-limit*/
    border: 2px solid #ececec;
}

.titulo-app {
    /*color-font-titulo*/
    color      : #a8dadc;
    margin     : 15px 5px 5px 5px;
    font-weight: bold;
    text-align : center;
    font-size  : 14pt;
}