* {
    padding    : 0px;
    margin     : 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    background-color: #576574;
    color           : #faf8f0;
    font-weight     : 300;
    font-size       : 12pt;
}

form {
    width  : 250px;
    padding: 0px 20px 5px 20px;
    margin : 10px auto;
}

label,
input,
select {
    /*display    : block;*/
    line-height: 30px;
    height     : 36px;
    outline    : none;
    font-size  : 12pt;
    width      : 95%;
    margin     : auto;
}

input {
    margin-bottom: 3px;
    padding-left : 5px;
}

input:invalid {
    border: 1px solid #576574;
}

input:valid {
    border: 1px solid #faf8f0;
}

label {
    font-weight: bold;
}


section {
    width           : 300px;
    margin          : 10px auto;
    background-color: lightslategrey;
}

article {
    border : 2px solid #faf8f0;
    padding: 5px;
    margin : 0px 0px 5px 0px;
}

article>header {
    color          : #faf8f0;
    justify-content: space-between;
}

hr {
    margin: 5px;
}

.block-column {
    display       : flex;
    flex-direction: row;
}

.box {
    border: 2px solid #faf8f0;
}

.title {
    margin     : 15px 5px 5px 5px;
    font-weight: bold;
    text-align : center;
    font-size  : 14pt;
}